html body {
    background-color: #e3e3e3;
    line-height: 1.6;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.151);
}

.simulator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    position: relative;
}

.range-slider {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center; 
    padding: 10px 20px;   
    margin: 10px 20px;
}

.range-slider-min {
    float: left;
    left: 0px;
}

.range-slider-max {
    float: right;
    right: 0px;
}

.matrix {
    border: 1px solid grey;
}



.matrix-cell {
    border: 1px solid grey;
    width: 20px;
    height: 20px;
}

.dark {
    background-color: black;
}

.white {
    background-color: white;
}

.blue {
    background-color: blue;
}

.grid-blocks-div {
    display: flex;
    flex-direction: row;
}

.blocks {
    margin: 0px 20px;
}

h1 {
    position: absolute;
    top : 5px;
}

.obstruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    position: relative;
}

button {
    padding: 0px 10px;
    margin: 15px 20px;
}

.btn-div {
    position: absolute;
    bottom: 10px;
}

.selected {
    background-color : rgba(108, 108, 201, 0.815);
}

